@font-face {
    font-family: PFDinTextPro;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PFDinTextPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextPro-Regular.woff2") format("woff2"), url("../fonts/PFDinTextPro-Regular.woff") format("woff"), url("../fonts/PFDinTextPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextPro-Regular.svg#PFDinTextPro") format("svg");
}

@font-face {
    font-family: PFDinTextPro;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/PFDinTextPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextPro-Medium.woff2") format("woff2"), url("../fonts/PFDinTextPro-Medium.woff") format("woff"), url("../fonts/PFDinTextPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextPro-Medium.svg#PFDinTextPro") format("svg");
}

@font-face {
    font-family: PFDinTextPro;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/PFDinTextPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextPro-Bold.woff2") format("woff2"), url("../fonts/PFDinTextPro-Bold.woff") format("woff"), url("../fonts/PFDinTextPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextPro-Bold.svg#PFDinTextPro") format("svg");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

body {
    font-family: 'PFDinTextPro', sans-serif;
    overflow-x: hidden
}

html * {
    max-height: 1000000px
}

main.content_view {
    height: 100vh
}

.widget_mozg_conversation {
    transition: all 0.75s ease-in-out, background 0.75s ease-in-out 0.5s;
    background: rgba(255 255 255 / 0%);
    max-width: 920px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 92vh;
    max-height: 670px;
    opacity: 0;
    z-index: 1001;
    transform: scale(.95);
    visibility: hidden;
    box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    width: calc(100% - 40px);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.widget_mozg_top {
    background: linear-gradient(44deg, #E56A4F 50.83%, #E48110 100%), #e77d48;
    font-size: 22px;
    color: #fff;
    padding: 34px 30px 28px;
    line-height: 1.1;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.widget_mozg_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    height: 72px;
    border-top: 1px solid #999;
}

.widget_mozg_top_close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    height: 32px;
    width: 32px;
    top: 50%;
    transform: translate(0, -53%);
    transition: 0.25s;
}

.widget_mozg_top_close:before,
.widget_mozg_top_close:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute
}

.widget_mozg_top_close:after {
    transform: rotate(-45deg)
}

.widget_mozg_top_close:hover {
    transform: translate(0,-50%) rotate(270deg);
}

input.widget_mozg_text_field {
    font-size: 18px;
    width: 100%;
    height: 72px;
    line-height: 1;
    background: transparent;
    border-radius: 0 0 8px 8px;
    border: none;
    -webkit-appearance: none;
    padding: 0 30px;
    padding-right: 76px
}


.widget_mozg_btn_send {
    position: absolute;
    right: 10px;
    top: 6px;
    bottom: 6px;
    display: block;
    padding: 0;
    width: 59px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .4s ease;
    font-size: 0;
    z-index: 1;
    background-size: 20px;
    background-color: transparent;
}
.widget_mozg_btn_send:before,.widget_mozg_btn_send:after {
    background: url(../images/btn_send-2.svg);
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    top: 0;
    left: 0;
    transition: 0.25s;
}
.widget_mozg_btn_send:after {
     background-image: url(../images/btn_send-2_0.svg);
     transform: translate(-35px, 0px);
     opacity: 0;
}
.widget_mozg_btn_send:hover:before {
    opacity: 0;
    transform: translate(35px, 0px);
}

.widget_mozg_btn_send:hover:after {
    opacity: 1;
    transform: translate(0,0);
}


.widget_mozg_launcher_desktop {
    background: #33ad5c;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    border-radius: 8px;
    font-size: 17px;
    color: #fff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: 1s ease;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 10px);
    transform-origin: 100% 0%;
    z-index: 10
}

.widget_mozg_launcher_desktop_btn {
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 99px;
    margin-right: 13px;
    padding: 10px 30px;
    color: #33ad5b;
    line-height: 1;
    cursor: pointer;
    background: #fff
}

.widget_mozg_launcher_desktop_btn:hover {
    color: #fff;
    background: #33ad5c
}

.widget_mozg_launcher_desktop_close {
    height: 32px;
    position: absolute;
    right: 4px;
    top: 2px;
    width: 32px;
    cursor: pointer;
    z-index: 10
}

.widget_mozg_launcher_desktop_close:before {
    content: '';
    background: #333;
    width: 17px;
    height: 2px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 10px
}

.widget_mozg_launcher_desktop_close:hover:before {
    opacity: .3
}

.widget_mozg_launcher_small {
    transition: all .5s ease-in-out, background 0s ease-in-out;
    bottom: 14px;
    position: fixed;
    right: 31px;
    text-align: center;
    padding: 16px 0;
    opacity: 0;
    transform: translate(0, 80px);
    cursor: pointer
}

.widget_mozg_launcher_desktop.cb_open_desktop {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.widget_mozg_launcher_desktop_text {
    width: 325px;
    margin-right: 10px;
    padding-top: 2px
}

.widget_mozg_launcher_desktop_wrap {
    flex-wrap: nowrap;
    padding: 21px;
    align-items: center;
    display: flex
}

.widget_mozg_launcher_small.cb_small_opened .cb_small_close {
    display: block;
    margin: 4px auto 0;
    width: 22px
}



img.cb_small_close {
    display: none
}

.cb_small_visible.widget_mozg_launcher_small {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    transform: translate(0, 0)
}



.widget_mozg_conversation.conversation_modal_opened {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background: rgb(255 255 255 / 85%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
}

.widget_mozg_main_desktop_hello_title {
    font-size: 20px;
    line-height: 1.1;
    color: #333;
    margin-bottom: 25px;
    font-weight: bold;
}

.widget_mozg_main_desktop_hello_right {
    width: 55%;
}

.widget_mozg_main_desktop_hello {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    line-height: 1.3;
    position: relative;
    z-index: 100;
    height: calc(92vh - 84px);
    max-height: calc(670px - 84px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 0 0px 10px 10px;
}

.widget_mozg_main_desktop_hello_left {
    width: 45%;
    padding: 54px 30px 42px;
    color: #333;
    font-size: 15px;
    line-height: 1.35;
    transition: .5s
}

.widget_mozg_main_desktop_hello_microphone_t {
    margin-bottom: 16px;
    width: 100%;
    color: #818181;
}

.widget_mozg_main_desktop_hello_right_wrap p {
    margin-bottom: 14px;
    font-size: 15px;
    position: relative;
    padding-left: 22px;
}

.widget_mozg_main_desktop_hello_left p {
    margin-bottom: 15px;
}

.widget_mozg_main {
    position: relative;
    z-index: 2
}

.widget_mozg_main_desktop_hello_microphone_t a {
    color: #e7734d;
    text-decoration: none
}

.widget_mozg_main_desktop_hello_right_wrap {
    line-height: 1.25
}

.widget_mozg_main_desktop_hello_left_small_text {
    line-height: 1.25;
}


.widget_mozg_main_desktop_hello_microphone_t a:hover {
    color: #828282
}

.widget_mozg_main_desktop_hello_left_small_text a {
    color: #e7734d;
    text-decoration: none
}

.widget_mozg_main_desktop_hello_left_small_text a:hover {
    color: #828282
}

.widget_mozg_main_desktop_hello_microphone_view span {
    background: #e0e0e0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px
}

.widget_mozg_main_desktop_hello_microphone_view {
    font-size: 0;
    margin-right: 25px;
}

.widget_mozg_main_desktop_hello_microphone_view span:last-child {
    margin-right: 0
}

.widget_mozg_main_desktop_hello_microphone {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    margin-top: -2px;
}

.widget_mozg_main_desktop_hello_microphone_view span.active {
    background: #f2994a
}

.btn_cb_bot {
    border: 1px solid #33ad5c;
    box-sizing: border-box;
    border-radius: 99px;
    text-decoration: none;
    line-height: 20px;
    -webkit-appearance: none;
    background-color: #33ad5c;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    max-width: 450px;
    padding: 18px 10px 16px;
    position: relative;
    overflow: hidden;
}
.btn_cb_bot__inner {
    position: relative;
    z-index: 2;
}

.btn_cb_bot:before,.cb_btn:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1d9544;
    transition: 0.25s;
    transform: scale(0);
    border-radius: 30px;
    opacity: 0.75;
}

.btn_cb_bot:hover:before {
    transform: scale(1);
}
.cb_btn:hover:before {
     transform: scale(1);
}

.widget_mozg_main_desktop_hello_right_wrap p.cb_p_with_btn {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0
}

.widget_mozg_main_desktop_hello::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.widget_mozg_main_desktop_hello {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.widget_mozg_main_desktop_hello_left.widget_mozg_main_desktop_hello_left_hide {
    transform: translate(-290px, 0);
    opacity: 0
}

.widget_mozg_main_desktop_hello_right.widget_mozg_main_desktop_hello_right_hide {
    transform: translate(370px, 0);
    opacity: 0
}

.widget_mozg_main_conversation {
    padding: 35px 30px 0;
    height: calc(92vh - 84px - 72px);
    max-height: calc(670px - 84px - 72px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.cb_block_message_bot {
    position: relative;
    max-width: 450px
}

img.cb_block_message_bot_avatar {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 1;
}

.cb_block_message {
    color: #000;
    padding: 16px 30px 16px;
    max-width: 650px;
    line-height: 1.3;
    display: inline-flex;
    margin-left: 75px;
    border-radius: 100px;
    background-color: rgb(244 209 125 / 60%);
    font-size: 18px;
    opacity: 0.9;
    position: relative;
    min-width: 81px;
    justify-content: center;
}

.cb_block_message_bot_date {
    position: absolute;
    top: -7px;
    letter-spacing: -.41px;
    background: #E4772A;
    color: #fff;
    padding: 4px 7px 2px;
    border-radius: 110px;
    font-size: 12px;
    right: 30px;
    line-height: 1;
}

.cb_block_message_wrap .cb_block_message_bot_avatar {
    animation: show__animate_bot 1s ease-in-out forwards 2s
}

.cb_block_message_wrap.cb_block_message_wrap_with_time .cb_block_message_bot_avatar {
    animation: none
}


@keyframes show__animate_bot {
	0% {
        opacity: 1;
	}

	100% {
        opacity: 0;
	}
}


@keyframes show__animate {
	0% {
        transform: translate(0,50px);
        opacity: 0;
	}


	100% {
        transform: translate(0,0px);
        opacity: 1;
	}
}

.cb_block_message_wrap {
    margin-bottom: 18px;
    position: relative;
    margin-top: 18px;
    animation: show__animate 1s ease-in-out
}



.cb_block_message_wrap.cb_block_message_wrap_with_time {
    display: flex;
    align-items: flex-end;
    border-radius: 0
}

.widget_mozg_main_conversation::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.widget_mozg_main_conversation {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.cb_block_message_wrap.cb_block_message_wrap_with_avatar {
    position: relative
}

.cb_block_message_wait span {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #666;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px
}

.cb_block_message_wait {
    font-size: 0;
    padding: 3px 4px 4px;
    min-width: 45px;
    text-align: center
}

.cb_block_message_wait span:last-child {
    margin-right: 0
}

.cb_block_message.cb_block_message_user {
    background: #fff;
    color: #000;
    text-align: left;
}

.cb_block_message_user_audio {
    display: flex;
    align-items: center;
    font-size: 0;
    padding: 0;
    margin: -7px -5px;
}

.botHello__image {
    position: absolute;
    right: -50px;
    z-index: 101;
    width: 265px;
    top: 135px;
    pointer-events: none;
}

.widget_mozg_main_desktop_hello__right__inner_x {
    max-width: 330px;
}

.cb_block_message_wrap.cb_block_message_wrap_user {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 65px;
}

img.cb_play_btn {
    width: 36px;
    cursor: pointer;
    transition: 0s;
    position: relative;
    z-index: 1;
}

.cb_play_btn__wrap:hover img {
    filter: brightness(100);
}

.cb_play_btn__wrap {
    margin-right: 12px;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    border: 1px solid #e67760;
    border-radius: 50%;
    font-size: 0;
    box-sizing: border-box;
}

.cb_play_btn__wrap:before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #e67760;
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.25s;
}

.cb_play_btn__wrap:hover:before {
    transform: scale(1.075);
}
img.cb_track_line {
    width: 134px
}

.cb_block_message_wrap.cb_block_message_wrap_with_image .cb_block_message {
    max-width: 100%;
    padding: 4px;
    font-size: 0;
    background: transparent;
    align-items: center;
}

.cb_block_message_wrap.cb_block_message_wrap_with_image img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 17px
}

.cb_block_message_user_audio_time {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #000;
    margin-left: 13px;
    margin-top: 4px
}

.cb_block_message_end_test_title {
    font-size: 15px;
    line-height: 1.4;
    color: #333;
    margin-bottom: 15px
}

.cb_block_message_wrap.cb_block_message_wrap_end_test {
    padding: 0 75px;
    margin-top: 25px;
    padding-right: 0
}

input.cb_block_message_input_field {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 99px;
    font-size: 18px;
    padding: 16px 26px;
    background: #fff;
    -webkit-appearance: none;
    width: 100%
}

.cb_block_message_input_field_error_text {
    font-size: 11px;
    line-height: 1.3;
    height: 0;
    color: #eb5757;
    text-align: center;
    padding: 0;
    visibility: hidden;
    transition: .2s;
    opacity: 0;
    transform: translate(0, -5px)
}

.cb_block_message_input_field_error_text.cb_block_message_input_field_error_text_show {
    visibility: visible;
    height: 21px;
    opacity: 1;
    transform: translate(0, 0);
    margin: 9px auto 9px;
    max-width: 270px;
}

.cb_block_message_end_test_text_field {
    width: 310px;
}

input.cb_block_message_input_field.cb_block_message_input_field_error {
    border: 1px solid #eb5757
}

.cb_block_message_end_test_send {
    background: #33AD5C;
    border-radius: 99px;
    padding: 18px 33px;
    line-height: 1;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    border: none;
    color: #fff;
}

.cb_block_message_end_test_wrap {
    display: flex;
    align-items: flex-start;
}

button.cb_block_message_end_test_send:hover {
    background: #269f4e;
    color: #fff
}

.cb_block_message_end_test_success {
    margin: 10px auto 0;
    background: #33ad5c;
    box-sizing: border-box;
    border-radius: 99px;
    padding: 16px 24px 15px;
    color: #fff;
    line-height: 1;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    justify-content: center;
}

.cb_block_message_end_test_success img {
    margin-right: 12px;
    filter: brightness(18.5);
    width: 17px;
}

.cb_block_message_end_test_success span {
    margin-top: 2px
}

.cb_block_recorder_btn {
    background: #33AD5C;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0;
    cursor: pointer;
    transition: .2s;
    position: relative
}

.cb_block_recorder_top {
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #bdbdbd;
    max-width: 407px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-style: italic
}

.cb_block_recorder_block {
    margin: 8px 0;
    text-align: center;
    padding-left: 60px
}

.cb_block_recorder_add_text {
font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #33ad5b;
    text-transform: uppercase;
    font-weight: 400;
    transition: .2s;
    position: absolute;
    left: -210px;
    top: 55%;
    transform: translate(0,-50%);
    white-space: nowrap;
}

.cb_block_recorder_add_text_recordering {
    line-height: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: .2s;
    z-index: -1;
    right: 70px;
    top: 12px;
    width: 232px;
}

.cb_block_recorder_btn_recordering_image {
    background: #fff;
    width: 14px;
    height: 14px;
    border-radius: 1px;
    margin: 0
}

.cb_block_recorder_btn_recordering_text {
    font-size: 12px;
    line-height: 8px;
    text-align: center;
    position: absolute;
    left: -50px;
    color: #000;
    top: 6px
}

.cb_block_recorder_btn:hover {
    background: #269f4e;
}

.widget_mozg_btn_send.cb_btn_deactive {
    opacity: 0;
    cursor: default;
    z-index: -1
}

.widget_mozg_btn_send.cb_btn_deactive:hover {
    opacity: .4
}

.cb_btn {
    border: none;
    background: #33AD5C;
    color: #fff;
    padding: 14px 31px 12px;
    border-radius: 102px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    margin-right: 7px;
    margin-bottom: 8px;
    transition: 0.25s;
    position:relative;
}

.cb_btn--gray {
    color: #A9A9A9;
    background: transparent;
    border: 1px solid #A9A9A9;
    padding: 14px 19px 12px;
}
.cb_block_message_wrap.cb_block_message_wrap_buttons {
    margin-left: 75px;
    margin-top: 10px
}

.cb_btn:hover {
    background: #269f4e;
    color: #fff;
    border-color: #269f4e;
}

.cb_btn:last-child {
    margin-right: 0
}

.js_cb_block_recorder_btn.cb_block_recorder_btn.audio_dissable {
    cursor: default
}

.cb_block_recorder_btn.recording_audio img {
    opacity: 0
}

.cb_block_recorder_btn.recording_audio .cb_block_recorder_btn_recordering {
    opacity: 1;
    z-index: 10
}

.cb_block_recorder_btn_recordering {
    opacity: 0;
    position: absolute;
    top: 11px;
    z-index: -10;
    transition: .2s
}

.cb_block_recorder_btn img {
    opacity: 1;
    z-index: 10;
    position: relative;
    transition: .2s;
    width: 11px
}

.cb_block_recorder_el {
    position: absolute;
    right: 15px;
    bottom: -48px;
}

.cb_block_recorder_add_text.hide {
    opacity: 0
}

.cb_block_recorder_add_text_recordering.show {
    opacity: 1;
    z-index: 1
}

.widget_mozg--color_orange {
    color: #e56a4f;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
}

.widget_mozg_main_desktop_hello_right_wrap b {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}


.cb_block_message_user_audio_track {
    max-width: 220px;
    width: calc(100% - 31px - 30px);
    min-width: 140px
}

.cb_block_message_wrap.cb_block_message_wrap_buttons.cb_block_message_wrap_buttons_user {
    justify-content: flex-end;
    display: flex;
    align-items: center
}

.widget_mozg_top_title {
    line-height: 1;
}

.widget_mozg_main_desktop_hello_left_wrap {
    line-height: 1.3;
    margin-bottom: 25px;
}

.widget_mozg_main_desktop_hello_left p:last-child {
    margin-bottom: 0;
}

.widget_mozg_main_desktop_hello_left_small_text__wrap {
    display: flex;
    flex-wrap: wrap;
}

.widget_mozg_main_desktop_hello_left_small_text__t {
    flex: 1;
    margin-left: 16px;
}

.widget_mozg_main_desktop_hello_left_small_text__wrap svg {
    margin-top: 0px;
}

.widget_mozg_main_desktop_hello_line {
    width: 100%;
    justify-content: center;
    display: flex;
    background: #fff;
    padding: 12px 0;
    align-items: center;
}

.widget_mozg_main_desktop_hello__right__inner {
    margin: 25px 32px 28px 0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 26px;
}

.widget_mozg_main_desktop_hello_title--2 {
    color: #e56a4f;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.widget_mozg_main_desktop_hello_microphone_view__line {
    display: flex;
    align-items: center;
}

.widget_mozg_main_desktop_hello_microphone_view__line a {
    color: #e56a4f;
    font-size: 14px;
    max-width: 180px;
}

.widget_mozg_launcher_small__text {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 55px 11px 20px;
    min-width: 575px;
    position: absolute;
    right: 40%;
    top: -5px;
    z-index: -1;
    width: auto;
}

.widget_mozg_launcher_bg {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(180deg, #e56a4f 0%, #e48110 100%);
    border-radius: 50%;
}

.cb_small_open {
    width: 80px;
    position: absolute;
    top: 0;
    right: 64%;
    transform: translate(50%, 0);
}

.widget_mozg_main_desktop_hello_microphone_view__line a:hover {
    color: #818181;
    text-decoration: none;
}

.hide--before__converstion {
    opacity: 0;
}

.widget_mozg_main_desktop_hello__wrapp {
    max-width: 280px;
}

.botHello__image__hide {
    visibility: hidden;
    opacity: 0;
}

.botHello__image--mobile {
    display: none;
}
.cb_block_recorder_btn:before {
    content: '';
    position: absolute;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    display: block;
    left: 50%;
    top: 50%;
    border: 1px dashed #e56a4f;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.cb_block_message_user__icon {
    position: absolute;
    right: 0;
}


.cb_block_message__image__wrap__text {
    font-size: 16px;
    flex: 1;
    margin-left: 45px;
    max-width: 370px;
}

.cb_block_message__image__wrap__text svg {
    margin-bottom: 12px;
}

.cb_block_message__image__wrap {
    width: 245px;
    height: 245px;
    background: #fff;
    border-radius: 16px;
}

.cb_block_message_wrap.cb_block_message_wrap_with_image img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    object-position: 50% 50%;
    margin: 5% auto;
    display: block;
}

.launch_bot__animate{
    background-image: url('../images/robot__sprite.png');
    animation: robot 1s  steps(1) infinite;
    width:100px;
    height: 100px;
    background-size:200px;
    position: absolute;
    bottom: 25px;
    right: 0;
}
.btn_cb_bot__inner--small{display: none;}




@keyframes robot {
	0% {
        background-position: -100px 0px;
	}
	10% {
        background-position: -100px 0px;
	}
	20% {
        background-position: 0px -100px;
	}
	25% {
        background-position: 0px 0px;
	}
	37% {
        background-position: 0px 0px;
	}
    45% {
        background-position: -100px -100px;
	}

    53% {
        background-position: -100px -100px;
	}
	65% {
        background-position: 0px 0px;
	}
	75% {
        background-position: 0px 0px;
	}
    80% {
        background-position: 0px -100px;
	}
    90% {
        background-position: -100px 0px;
	}
    100% {
        background-position: -100px 0px;
	}
}

@media screen and (max-height: 640px) {
    .widget_mozg_bottom {
        height: 60px;
    }

    input.widget_mozg_text_field {
        height: 60px;
    }

    .btn_cb_bot {
        font-size: 16px;
        padding: 15px 11px 13px;
    }

    .widget_mozg_conversation {
        height: calc(100vh - 40px);
        max-height: none;
        left: 5px;
        right: 5px;
        width: auto;
        top: 20px;
        margin: auto;
        bottom: 20px;
    }

    .widget_mozg_main_desktop_hello {
        height: calc(100vh - 40px - 60px);
        max-height: none;
    }

    .widget_mozg_main_conversation {
        height: calc(100vh - 40px - 60px - 60px);
        max-height: none;
    }

    .widget_mozg_top {
        padding: 24px 22px 19px;
        font-size: 17px;
    }

    .widget_mozg_top_close {
        right: 10px;
        transform: translate(0, -50%);
    }

    .widget_mozg_top_close:before,
    .widget_mozg_top_close:after {
        width: 18px;
    }

}

@media screen and (max-height: 500px) {
    .botHello__image {
        display: none;
    }
}



@media screen and (max-width: 800px) {
    .btn_cb_bot__inner {
        display: none;
    }

    .btn_cb_bot__inner--small {
        display: block;
    }
    .widget_mozg_bottom {
        height: 60px;
    }

    input.widget_mozg_text_field {
        height: 60px;
        padding-right: 55px;
    }

    .widget_mozg_btn_send {
        width: 40px;
        right: 5px;
    }

    .botHello__image--mobile {
        display: block;
        position: absolute;
        width: 155px;
        right: -20px;
        bottom: 35px;
    }

    .widget_mozg_top {
        font-size: 18px;
        padding: 18px 20px 14px;
    }

    .widget_mozg_main_desktop_hello {
        height: calc(100vh - 24px - 50px);
        max-height: none;
        overflow: scroll;
        display: block;
    }

    .widget_mozg_main_desktop_hello_left {
        width: 100%;
        padding: 25px 22px;
    }

    .widget_mozg_main_desktop_hello_right {
        width: 100%;
    }

    .widget_mozg_main_desktop_hello_title {
        margin-bottom: 22px;
        font-size: 19px;
    }

    .widget_mozg_main_desktop_hello_left_wrap {
        margin-bottom: 20px;
    }

    .widget_mozg_main_desktop_hello__right__inner {
        margin: 0;
        border-radius: 0;
        margin-top: 0px;
        padding: 22px 22px 1px;
    }

    .btn_cb_bot {
        max-width: 220px;
        padding: 13px;
        font-size: 16px;
    }

    .widget_mozg_main_desktop_hello_line {
        justify-content: flex-start;
        padding: 0 22px 25px;
        border-radius: 0 0 10px 10px;
        position: relative;
    }

    .widget_mozg_main_desktop_hello_title--2 {
        margin-bottom: 18px;
    }

    .botHello__image {
        right: -20px;
        top: 62vh;
        left: auto;
        width: 150px;
        display: none;
    }



    .cb_block_message_wrap.cb_block_message_wrap_buttons {
        margin-left: 0;
    }

    .cb_block_message_end_test_title {
        line-height: 1.3;
        text-align: center
    }

    .cb_block_message_end_test_wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .cb_block_recorder_top {
        max-width: 290px;
        font-size: 11px
    }

    .cb_block_message_end_test_send {
        margin: 0;
        padding: 12px 22px 14px;
        margin-top: 7px
    }



    .cb_block_message_wrap.cb_block_message_wrap_with_image .cb_block_message {
        flex-direction: column;
        align-items: flex-start;
    }

    .cb_block_recorder_block {
        padding-left: 0
    }

    .cb_block_message_wrap.cb_block_message_wrap_end_test {
        padding: 0
    }

    .widget_mozg_main_conversation {
        padding: 8px 15px 10px;
        height: calc(100vh - 50px - 60px - 40px);
        max-height: none;
    }

    .cb_block_message__image__wrap {
    width: 195px;
    height: 180px;
    margin-bottom: 20px;
}

.cb_block_message__image__wrap__text {
    margin-left: 0;
}

.cb_block_message__image__wrap__text svg {
    margin-bottom: 10px;
}
    img.cb_block_message_bot_avatar {
        width: auto;
    }

    .cb_block_message {
        margin-left: 0;
        font-size: 15px;
        line-height: 1.2
    }

    .widget_mozg_conversation {
        max-width: 400px;
        width: 98%;
        right: 20px;
        margin: 0;
        left: auto;
        bottom: 20px;
        top: 20px;
        max-height: none;
        height: calc(100vh - 40px);
        overflow: hidden;
    }
    .cb_block_message_wrap.cb_block_message_wrap_with_avatar .cb_block_message_bot_avatar {
    display: none;
}

.cb_block_message_wrap.cb_block_message_wrap_with_time .cb_block_message_bot_avatar {
    display: block;
    position: static;
    order: 2;
    margin-top: 15px;
    height: 50px;
    margin-left: 10px;
}

.cb_block_message_wrap.cb_block_message_wrap_with_time {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cb_block_message_wrap {
    margin: 15px 0;
}

.cb_block_message_user__icon {
    width: 46px;
}

.cb_block_message_wrap.cb_block_message_wrap_user {
    padding-right: 55px;
}

.cb_btn {
    font-size: 16px;
    padding: 12px 30px 11px;
}
}

@media screen and (max-width: 1050px) {
    .botHello__image {
        width: 200px;
        left: 80%;
        right: auto;
        top: 140px;
    }
}
@media screen and (max-width: 700px) {
.widget_mozg_launcher_small__text {
    display: none;
}
}

@media screen and (max-width: 620px) {
    .widget_mozg_launcher_desktop_text {
        width: 280px;
        font-size: 15px
    }
}

@media screen and (max-width: 450px) {
    input.widget_mozg_text_field {
        padding-right: 20px
    }

    input.widget_mozg_text_field::placeholder {
        font-size: 13px
    }

    input.widget_mozg_text_field:focus {
        padding-right: 50px
    }

    .cb_block_message_end_test_success img {
        width: 20px
    }

    .cb_block_message_end_test_success {
        padding: 11px 24px 11px;
        font-size: 15px
    }

    input.cb_block_message_input_field {
        font-size: 14px;
        padding: 11px 24px 12px
    }

    .cb_block_message_end_test_send {
        font-size: 14px;
        padding: 10px 22px 12px;
        margin-top: 7px
    }


    .widget_mozg_main_conversation {
        height: calc(100vh - 50px - 60px);
        padding: 7px 10px 5px;
        max-height: none;
        min-height: calc(340px - 55px - 48px);
    }

    .cb_block_recorder_add_text_recordering {
        font-size: 13px;
        line-height: 1;
        margin: 0;
        right: 63px;
        top: 16px
    }

    .widget_mozg_launcher_small {
        right: 10px;
        bottom: 10px
    }

    .widget_mozg_conversation {
        right: 10px;
        width: calc(100% - 20px)
    }

    .cb_block_message {
        line-height: 1.15
    }
}


@media screen and (max-width: 390px) {
    .botHello__image--mobile {
        bottom: 30px;
        left: calc(100% - 110px);
        right: auto;
    }

    .widget_mozg_main_desktop_hello_title {
        font-size: 17px;
        margin-bottom: 18px;
    }

    .widget_mozg_main_desktop_hello_left_wrap {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .widget_mozg_main_desktop_hello_left p {
        margin-bottom: 12px;
    }

    .widget_mozg_main_desktop_hello_left_small_text {
        font-size: 14px;
    }

    .widget_mozg_main_desktop_hello_title--2 {
        font-size: 17px;
        margin-bottom: 18px;
    }

    .widget_mozg_main_desktop_hello_right_wrap p {
        font-size: 15px;
    }

    .widget_mozg_main_desktop_hello_microphone {
        font-size: 14px;
    }

    .widget_mozg_conversation {
        right: 0;
        left: 0;
        width: 100%;
        top: 0;
        height: auto;
        border-radius: 0;
        bottom: 0;
    }

    .widget_mozg_top {
        border-radius: 0;
        padding: 18px 15px 14px;
    }

    .widget_mozg_top_close {
        right: 10px;
    }

    .widget_mozg_main_desktop_hello {
        height: calc(100vh - 36px);
    }

    .widget_mozg_main_desktop_hello_line {
        border-radius: 0;
    }
}

@media screen and (max-width: 360px) {
    .botHello__image--mobile {
        left: calc(100% - 70px);
    }
}





.bounce_animate__top {
	animation: bounce__top 1.5s ease-in-out
}

@keyframes bounce__top {
	0% {
		transform:translateY(40px);
        opacity: 0;
	}
	40% {
		transform:translateY(0%);
        opacity:0.95
	}
	60% {
		transform:translateY(10px);
        opacity: 0.9;
	}
	80% {
		transform:translateY(0%);
        opacity:0.95
	}
	100% {
		transform:translateY(0%);
        opacity:1
	}
}


.bounce_animate__bottom {
	animation: bounce__bottom 1.5s ease-in-out
}

@keyframes bounce__bottom {
	0% {
		transform:translateY(-40px);
        opacity: 0;
	}
	40% {
		transform:translateY(0%);
        opacity:0.95
	}
	60% {
		transform:translateY(-10px);
        opacity: 0.9;
	}
	80% {
		transform:translateY(0%);
        opacity:0.95
	}
	100% {
		transform:translateY(0%);
        opacity:1
	}
}


.bounce_animate__right {
	animation: bounce__right 1.5s ease-in-out
}

@keyframes bounce__right {
	0% {
		transform:translateX(100px);
        opacity: 0;
	}
	40% {
		transform:translateX(0%);
        opacity:0.95
	}
	60% {
		transform:translateX(14px);
        opacity: 0.9;
	}
	80% {
		transform:translateX(0%);
        opacity:0.95
	}
	100% {
		transform:translateX(0%);
        opacity:1
	}
}




@keyframes bounce_scale {
	0% {
        transform: scale(1);
	}
    25% {
        transform: scale(1.02);
        opacity:0.95
	}
	50% {
        transform: scale(1);
        opacity:1
	}
    75% {
        transform: scale(1.01);
        opacity:0.95
	}

	100% {
        transform: scale(1);
	}
}


.cb_small_visible.widget_mozg_launcher_small:hover {
    animation: bounce_scale 1.25s ease-in-out
}
